<div class="card flex justify-content-center">
    <p-sidebar #sidebarRef [(visible)]="this.uiService.sideBarVisibility">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                    <span class="inline-flex align-items-center gap-2">
                        <img src="/assets/icon.png" width="50">
                        <span class="font-semibold text-2xl text-primary">E-Artisan</span>
                    </span>
                    <span>
                        <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true" outlined="false" styleClass="h-2rem w-2rem"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto mt-2">
                    <ul class="list-none p-3 m-0">
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li>
                                <a [routerLink]="['/dashboard']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-chart-bar mr-2"></i>
                                    <span class="font-medium">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/posts']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-pencil mr-2"></i>
                                    <span class="font-medium">Posts</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/services']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-briefcase mr-2"></i>
                                    <span class="font-medium">Services</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/users']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">Users</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/categories']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-box mr-2"></i>
                                    <span class="font-medium">Categories</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/subcategories']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-box mr-2"></i>
                                    <span class="font-medium">Subcategories</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/suggestions']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-plus mr-2"></i>
                                    <span class="font-medium">Suggestions</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/reports']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-flag mr-2"></i>
                                    <span class="font-medium">Reports</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/tp']" routerLinkActive="active" pRipple class="flex no-underline align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-file mr-2"></i>
                                    <span class="font-medium">Terms and policies</span>
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="mt-auto">
                    <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                    <a pRipple class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                        <p-avatar image={{userDetails.profile_picture}} shape="circle" />
                        <span class="font-bold">{{userDetails.username}}</span>
                    </a>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>